<%= stylesheet_link_tag "index_articles", "data-turbo-track": "reload" %>
<div class="main">
  <h1>Articles</h1>
  <%= link_to "New Article", new_article_path %>
  <div class="sidebar-section">
    <div class="section-title">Filter by Tags</div>
    <div class="tags">
      <% @available_tags.each do |tag| %>
        <%= link_to tag.name, articles_path(tags_ids: params.fetch(:tags_ids, []) + [tag.id]) %>
      <% end %>
      <%= link_to 'Clear filter', articles_path(tags_ids: [])%>
    </div>
    <div class="selected-tags">
      Selected tags: 
      <%= params.fetch(:tags_ids, []).map { |id| Tag.find(id).name }.join(', ') %>
    </div>
  </div>
  <div class="table">
    <table>
      <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
      </colgroup>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Comments count</th>
          <th>Updated at</th>
          <th>Tags</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td>
              <%= link_to article.title, article %>
            </td>
            <td>
              <% if article.body.length > 15 %>
                <%= article.body[0..15] + "..." %>
              <% else %>
                <%= article.body %>
              <% end %>
            </td>
            <td><%= article.comments.count %></td>
            <td><%= article.updated_at %></td>
            <td>
              <%= article.tags.map {|tag| tag.name } * ", "%>
            </td>
            <td>
              <div class="table-actions">
                <%= button_to "Edit", edit_article_path(article.id), method: :get, :class => 'button' %>
                <%= button_to "Delete", article_path(article.id), method: :delete, :class => 'button' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
