<%= stylesheet_link_tag "show_article", "data-turbo-track": "reload" %>
<div class="main">
  <a class="home-link" href="/">Назад</a>
  <div class="article-block">
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>
    <p>
      Tags:
      <%= @article.tags.map {|tag| tag.name } * ", "%>
    </p>
  </div>
  <hr width="100%">
  <h2>Comments</h2>
  <div class="comments-block">
    <%= render @article.comments %>
  </div>
  <h2>Add a comment:</h2>
  <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>Commenter: <strong><%= current_user.email %></strong></p>
    <p>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
