<%= stylesheet_link_tag "index_tags", "data-turbo-track": "reload" %>
<div class="main">
  <h1>Tags</h1>
  <%= link_to "New Tag", new_tag_path %>
  <div class="table">
    <% @tags.each do |tag| %>
      <div class="tag-block">
        <%= link_to tag.name, tag_path(tag), :class => 'tag-link' %>
        <div class="tag-block-actions">
          <%= button_to "Edit", edit_tag_path(tag), :class => 'button', method: :get %>
          <%= button_to "Delete", tag_path(tag), method: :delete, data: { confirm: "Are you sure?" }, :class => 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
