<div class="header-wrapper">
  <div class="header-logo">
    <h2>Blog</h2>
  </div>
  <% if user_signed_in? %>
    <div class="header-menu">
      <h3 class="header-menu-item">
        <%= link_to 'Articles', articles_path %>
      </h3>
      <h3 class="header-menu-item">
        <%= link_to 'Tags', tags_path %>
      </h3>
    </div>
  <% end %>
  <div class="header-auth">
    <% if user_signed_in? %>
      <div class="user-navigation">
        <%= link_to current_user.email, edit_user_registration_path, method: :get, :class => 'button' %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, :class => 'button' %>
      </div>
    <% else %>
      <div class="user-navigation">
        <button>
          <%= link_to 'Sign In', new_user_session_path, :class => 'button' %>
        </button>
        <button>
          <%= link_to 'Sign Up', new_user_registration_path, :class => 'button' %>
        </button>
      </div>
    <% end %>
  </div>
</div>
